<ion-view cache-view="false" title="User Info">
  <ion-content padding="'true'" class="has-header">
    <ion-list>
      <ion-item menu-close="" class="icon ion-person"><b> Name:</b> {{user.name}}</ion-item>
      <ion-item menu-close="" class="icon ion-document-text"><b> CPF:</b> {{user.cpf}}</ion-item>
      <ion-item menu-close="" class="icon ion-email"><b> Email:</b> {{user.email}}</ion-item>
      <ion-item menu-close="" class="icon ion-home"><b> Address:</b> {{user.address}}</ion-item>
      <ion-item menu-close="" class="icon ion-home"><b> City:</b> {{user.city}}</ion-item>
      <ion-item menu-close="" class="icon ion-home"><b> State:</b> {{user.state_city}}</ion-item>
      <ion-item menu-close="" class="icon ion-home"><b> Country:</b> {{user.country}}</ion-item>
      <ion-item menu-close="" class="icon ion-ios-people"><b> Number of Residents:</b> {{user.number_of_residents}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
